{
  "openapi": "3.0.0",
  "info": {
    "title": "SAM Computers",
    "description": "API for exploring computers.",
    "version": "1.0.0",
    "contact": {
      "name": "Snow Software",
      "url": "https://www.snowsoftware.com"
    }
  },
  "servers": [
    {
      "url": "https://australiasoutheast.snowsoftware.io"
    },
    {
      "url": "https://eastus2.snowsoftware.io"
    },
    {
      "url": "https://westeurope.snowsoftware.io"
    }
  ],
  "tags": [
    {
      "name": "Computers"
    },
    {
      "name": "Computers applications"
    },
    {
      "name": "Computers hardware"
    },
    {
      "name": "Computers metrics"
    }
  ],
  "paths": {
    "/api/sam/estate/v1/computers": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns a collection of computers.",
        "summary": "Get computers",
        "operationId": "computers2",
        "parameters": [
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputer"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns the details of a given computer.",
        "summary": "Get computer",
        "operationId": "computers",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer for which details will be returned.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers-metering": {
      "get": {
        "tags": [
          "Computers metrics"
        ],
        "description": "Returns a collection of metric tracking data for all computers.",
        "operationId": "computers-metering",
        "summary": "Get computers metrics",
        "parameters": [
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerApplicationMetering"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/applications": {
      "get": {
        "tags": [
          "Computers applications"
        ],
        "description": "Returns a collection of applications for a given computer.",
        "operationId": "applications",
        "summary": "Get computer applications",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerApplications"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/metering": {
      "get": {
        "tags": [
          "Computers metrics"
        ],
        "description": "Returns a collection of metric tracking data for a given computer.",
        "summary": "Get computer metrics",
        "operationId": "metering",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerApplicationMetering"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers-applications": {
      "get": {
        "tags": [
          "Computers applications"
        ],
        "description": "Returns a collection of applications for all computers.",
        "summary": "Get computers applications",
        "operationId": "computers-applications",
        "parameters": [
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerApplications"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/applications/{applicationid}": {
      "get": {
        "tags": [
          "Computers applications"
        ],
        "description": "Returns the details of the application record for a given computer and application.",
        "operationId": "applications2",
        "summary": "Get computer application",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer for which the details of the application record will be returned.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationid",
            "description": "The unique ID of the application for which the details of the application record will be returned.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerApplicationsDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers-application-usage": {
      "get": {
        "tags": [
          "Computers applications"
        ],
        "description": "Returns a collection of application usage data for all computers and all users.",
        "summary": "Get computers application usage",
        "operationId": "computers-application-usage",
        "parameters": [
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerApplicationUsage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers-application-user-usage": {
      "get": {
        "tags": [
          "Computers applications"
        ],
        "description": "Returns a collection of application usage data.",
        "summary": "Get user computer application usage",
        "operationId": "computers-application-user-usage",
        "parameters": [
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfUserApplicationUsage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers-application-usage/summary": {
      "get": {
        "tags": [
          "Computers applications"
        ],
        "description": "Returns a collection of application usage summaries.",
        "summary": "Get computers application usage summary",
        "operationId": "summary",
        "parameters": [
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerApplicationUsageSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/contracts": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns a collection of contracts for a given computer.",
        "summary": "Get computer contracts",
        "operationId": "contracts",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerContract"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/costs": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns the details of the costs for a given computer.",
        "summary": "Get computer costs",
        "operationId": "costs",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer for which details of the costs will be returned.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerCosts"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware/displayadapters": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of display adapters for a given computer.",
        "summary": "Get computer display adapters",
        "operationId": "displayadapters",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerDisplayAdapter"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware/harddrives": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of hard drives for a given computer.",
        "summary": "Get computer hard drives",
        "operationId": "harddrives",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerDrive"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware/opticaldrives": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of optical drives for a given computer.",
        "summary": "Get computer optical drives",
        "operationId": "opticaldrives",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerDrive"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns the details of the hardware for a given computer.",
        "summary": "Get computer hardware",
        "operationId": "hardware",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer for which the details of the hardware will be returned.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerHardwareDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware/disks/logical": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of logical disks for a given computer.",
        "summary": "Get computer logical disk",
        "operationId": "logical",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerLogicalDisk"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/logonhistory": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns a collection of computer logon histories for a given computer and all users.",
        "summary": "Get computer logon histories",
        "operationId": "logonhistory",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerLogonHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers-logonhistory/{userid}": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns a collection of computer logon histories for a given user and all computers.",
        "summary": "Get user computer logon history",
        "operationId": "computers-logonhistory",
        "parameters": [
          {
            "name": "userid",
            "description": "The unique ID of the user.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerLogonHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/logonhistory/{userid}": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns the details of the logon history for a given computer and user.",
        "summary": "Get computer user logon history",
        "operationId": "logonhistory2",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer for which the details of the logon history will be returned.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userid",
            "description": "The unique ID of the user.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerLogonHistoryDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware/monitors": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of monitors for a given computer.",
        "summary": "Get computer monitors",
        "operationId": "monitors",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerMonitor"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers-networkadapters": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of network adapters for all computers.",
        "summary": "Get computers network adapters",
        "operationId": "computers-networkadapters",
        "parameters": [
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerNetworkAdapters"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware/networkadapters": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of network adapters for a given computer.",
        "summary": "Get computer network adapters",
        "operationId": "networkadapters",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerNetworkAdapters"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware/cpu": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of processors for a given computer.",
        "summary": "Get computer processors",
        "operationId": "cpu",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerProcessor"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/hardware/cpu/socketmap": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns the details of the socket map for a given computer.",
        "summary": "Get socket map",
        "operationId": "socketmap",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer for which the details of the socket map will be returned.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputerSocketMapDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/registry": {
      "get": {
        "tags": [
          "Computers hardware"
        ],
        "description": "Returns a collection of registries for a given computer.",
        "summary": "Get computer registries",
        "operationId": "registry",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerRegistry"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers-environment-variables": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns a collection of environment variables for all computers.",
        "summary": "Get computers environment variables",
        "operationId": "computers-environment-variables",
        "parameters": [
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerEnvironmentVariables"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    },
    "/api/sam/estate/v1/computers/{id}/environment-variables": {
      "get": {
        "tags": [
          "Computers"
        ],
        "description": "Returns a collection of environment variables for a given computer.",
        "summary": "Get computer environment variables",
        "operationId": "environment-variables",
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the computer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "description": "The maximum number of items in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "page_number",
            "description": "The page number.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "For more information on the available operators and which data types those operators work on, see [Filter API call results](https://snowsoftwareglobal.github.io/snow-atlas-api/api-conventions#filter-api-call-results).",
            "schema": {
              "type": "string",
              "example": "status -eq \"active\""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Your request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilteredResponseWithLinksOfComputerEnvironmentVariables"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Your request is invalid or improperly formed. Consequently, the API server could not understand your request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The operation you requested failed because a resource associated with your request could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Your request failed due to an internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [
              "sam.computer.r"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PaginationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "page_size": {
            "type": "integer",
            "description": "The page size you requested.",
            "format": "int32",
            "example": 100
          },
          "page_number": {
            "type": "integer",
            "description": "The page number you requested.",
            "format": "int32",
            "example": 1
          },
          "total_pages": {
            "type": "integer",
            "description": "The total number of pages.",
            "format": "int32",
            "nullable": true,
            "example": 1
          },
          "total_items": {
            "type": "integer",
            "description": "The total number of items.",
            "format": "int32",
            "nullable": true,
            "example": 1
          }
        }
      },
      "Link": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "href": {
            "type": "string",
            "description": "The associated relative URL.",
            "nullable": true,
            "example": "api/sam/estate/v1/..."
          },
          "rel": {
            "type": "string",
            "description": "Specifies the relationship between the current document and the linked document/resource.",
            "nullable": true,
            "example": "self"
          },
          "method": {
            "type": "string",
            "description": "The method to access related resources.",
            "nullable": true,
            "example": "GET"
          }
        }
      },
      "BaseResponse": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "_links": {
            "type": "array",
            "description": "A collection of links to related resources.",
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "ComputerApplicationMetering": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "computerId": {
                "type": "string",
                "description": "The unique ID of the computer.",
                "example": "15764003-3c61-4d5f-9839-a63271240519",
                "format": "guid"
              },
              "metricId": {
                "type": "string",
                "description": "The unique ID of the metric.",
                "example": "5891a1d8-7fb0-45bd-b1f6-01c943f9c572",
                "format": "guid"
              },
              "applicationId": {
                "type": "string",
                "description": "The unique ID of the application.",
                "example": "5be51be2-35ff-48f2-9214-00002248b242",
                "format": "guid"
              },
              "initialRequirement": {
                "type": "integer",
                "description": "The initial requirement of the metric.",
                "example": 3,
                "format": "int32"
              },
              "includedInBundle": {
                "type": "integer",
                "description": "The number of applications included in the bundle.",
                "example": 5,
                "format": "int32"
              },
              "outsideMetricPeriod": {
                "type": "integer",
                "description": "The number of computers outside of the metric period.",
                "example": 4,
                "format": "int32"
              },
              "secondaryUseRightsDesktopLaptop": {
                "type": "integer",
                "description": "The number of computers with secondary use rights for a desktop or laptop.",
                "example": 2,
                "format": "int32"
              },
              "secondaryUseRightsDevice": {
                "type": "integer",
                "description": "The number of computers with secondary use rights for a device.",
                "example": 3,
                "format": "int32"
              },
              "extendedCoverageForDcc": {
                "type": "integer",
                "description": "The number of computers with extended coverage for DCC.",
                "example": 3,
                "format": "int32"
              },
              "extendedCoverageForHost": {
                "type": "integer",
                "description": "The number of computers with extended coverage for host.",
                "example": 2,
                "format": "int32"
              },
              "multipleVersionEdition": {
                "type": "integer",
                "description": "The number of computers with multiple version editions.",
                "example": 2,
                "format": "int32"
              },
              "virtualDesktopInfrastructure": {
                "type": "integer",
                "description": "The number of computers with virtual desktop infrastructure.",
                "example": 5,
                "format": "int32"
              },
              "minimumRequirement": {
                "type": "integer",
                "description": "The minimum requirement for the metric.",
                "example": 4,
                "format": "int32"
              },
              "coreFactor": {
                "type": "integer",
                "description": "The core factor for the metric.",
                "example": 7,
                "format": "int32"
              },
              "physicalHost": {
                "type": "integer",
                "description": "The physical host for the metric.",
                "example": 2,
                "format": "int32"
              },
              "requirement": {
                "type": "integer",
                "description": "The requirement for the metric.",
                "example": 8,
                "format": "int32"
              },
              "computerAppExclusions": {
                "type": "integer",
                "description": "The number of computers which have application exclusions.",
                "example": 1,
                "format": "int32"
              },
              "windowsServer": {
                "type": "integer",
                "description": "The number of computers which are Windows servers.",
                "example": 1,
                "format": "int32"
              },
              "virtualMachine": {
                "type": "integer",
                "description": "The number of computers which are virtual machines.",
                "example": 3,
                "format": "int32"
              },
              "unknownPhysicalHost": {
                "type": "integer",
                "description": "The number of computers with an unknown physical host.",
                "example": 1,
                "format": "int32"
              },
              "manuallyExcluded": {
                "type": "integer",
                "description": "The number of computers manually excluded.",
                "example": 5,
                "format": "int32"
              },
              "requirementMoved": {
                "type": "integer",
                "description": "The number of computers with the requirements moved.",
                "example": 1,
                "format": "int32"
              },
              "windowsServerFlag": {
                "type": "integer",
                "description": "The number of computers with the Windows server flag.",
                "example": 2,
                "format": "int32"
              },
              "sqlServer": {
                "type": "integer",
                "description": "The number of computers with the SQL server flag.",
                "example": 4,
                "format": "int32"
              }
            }
          }
        ]
      },
      "FilteredResponseWithLinksOfComputerApplicationMetering": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "items": {
                "type": "array",
                
                "items": {
                  "$ref": "#/components/schemas/ComputerApplicationMetering"
                }
              },
              "pagination": {
                
                "description": "The pagination details.",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PaginationResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "ErrorContent": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "integer",
            "description": "The HTTP status code.",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "The error message.",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": {
            "description": "The error details.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ErrorContent"
              }
            ]
          }
        }
      },
      "ComputerApplications": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "computerId": {
                "description": "The unique ID of the computer.",
                "example": "15764003-3c61-4d5f-9839-a63271240519",
                "type": "string",
                "format": "guid"
              },
              "applicationId": {
                "type": "string",
                "description": "The unique ID of the application.",
                "example": "5be51be2-35ff-48f2-9214-00002248b242",
                "format": "guid"
              },
              "bundleApplicationId": {
                "type": "string",
                "description": "The unique ID of the application bundle, or product suite, for a given application.",
                "example": "023cab7b-ca79-465e-8695-765cf4b72931",
                "format": "guid",
                "nullable": true
              },
              "firstDiscovered": {
                "type": "string",
                "description": "The date when the application was first discovered on the computer.",
                "format": "date-time",
                "nullable": true
              },
              "lastUsed": {
                "type": "string",
                "description": "The date when the application was last used on the computer.",
                "format": "date-time",
                "nullable": true
              },
              "usedCount": {
                "type": "integer",
                "description": "The number of times the application was used on the computer.",
                "example": 5,
                "format": "int32"
              },
              "averageUsedTime": {
                "type": "string",
                "description": "The average time the application is used.",
                "example": "39 minutes",
                "nullable": true
              },
              "isVirtual": {
                "type": "boolean",
                "description": "```true``` if the application is virtual; otherwise, ```false```.",
                "nullable": true
              },
              "isInstalled": {
                "type": "boolean",
                "description": "```true``` if the application is installed on the computer; otherwise, ```false```.",
                "nullable": true
              }
            }
          }
        ]
      },
      "FilteredResponseWithLinksOfComputerApplications": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "items": {
                "type": "array",
                
                "items": {
                  "$ref": "#/components/schemas/ComputerApplications"
                }
              },
              "pagination": {
                
                "description": "The pagination details.",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PaginationResponse"
                  }
                ]
              }
            }
          }
        ]
      },
      "ComputerApplicationsDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "computerId": {
                "description": "The unique ID of the computer.",
                "example": "15764003-3c61-4d5f-9839-a63271240519",
                "type": "string",
                "format": "guid"
              },
              "applicationId": {
                "type": "string",
                "description": "The unique ID of the application.",
                "example": "5be51be2-35ff-48f2-9214-00002248b242",
                "format": "guid"
              },
              "bundleApplicationId": {
                "type": "string",
                "description": "The unique ID of the application bundle, or product suite, for a given application.",
                "example": "023cab7b-ca79-465e-8695-765cf4b72931",
                "format": "guid",
                "nullable": true
              },
              "firstDiscovered": {
                "type": "string",
                "description": "The date when the application was first discovered on the computer.",
                "format": "date-time",
                "nullable": true
              },
              "firstUsed": {
                "type": "string",
                "description": "The date when the application was first used on the computer.",
                "format": "date-time",
                "nullable": true
              },
              "lastUsed": {
                "type": "string",
                "description": "The date when the application was last used on the computer.",
                "format": "date-time",
                "nullable": true
              },
              "usedCount": {
                "type": "integer",
                "description": "The number of times the application was used on the computer.",
                "example": 5,
                "format": "int32"
              },
              "usedUser": {
                "type": "integer",
                "description": "The number of users who used the application on the computer.",
                "example": 1,
                "format": "int32"
              },
              "usedMinutes": {
                "type": "integer",
                "description": "The number of minutes the application was used on the computer.",
                "example": 566,
                "format": "int64"
              },
              "usedDays": {
                "type": "integer",
                "description": "The number of days the application was used on the computer.",
                "example": 45,
                "format": "int32",
                "nullable": true
              },
              "isInstalled": {
                "type": "boolean",
                "description": "```true``` if the application is installed on the computer; otherwise, ```false```.",
                "nullable": true
              },
              "isOEM": {
                "type": "boolean",
                "description": "```true``` if the application is OEM; otherwise, ```false```.",
                "nullable": true
              },
              "isMSDN": {
                "type": "boolean",
                "description": "```true``` if the application is MSDN; otherwise, ```false```.",
                "nullable": true
              },
              "isVirtual": {
                "type": "boolean",
                "description": "```true``` if the application is virtual; otherwise, ```false```.",
                "nullable": true
              },
              "isOverridden": {
                "type": "boolean",
                "description": "```true``` if the application is overridden; otherwise, ```false```.",
                "nullable": true
              },
              "packageGUID": {
                "type": "string",
                "description": "The unique ID of the application package.",
                "example": "7945ae86-fc21-4fa4-bf83-0fa4564a7deb",
                "format": "guid",
                "nullable": true
              },
              "isRecognized": {
                "type": "boolean",
                "description": "```true``` if the application is recognized; otherwise, ```false```.",
                "nullable": true
              },
              "isRegistry": {
                "type": "boolean",
                "description": "```true``` if the application is in the registry; otherwise, ```false```.",
                "nullable": true
              },
              "averageUsedTime": {
                "type": "string",
                "description": "The average time the application is used.",
                "example": "39 minutes",
                "nullable": true
              }
            }
          }
        ]
      },
      "ComputerApplicationUsage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "computerId": {
                "description": "The unique ID of the computer.",
                "example": "15764003-3c61-4d5f-9839-a63271240519",
                "type": "string",
                "format": "guid"
              },
              "userId": {
                "description": "The unique ID of the user.",
                "example": "c9091484-a226-4b36-b1e1-250fe0757537",
                "type": "string",
                "format": "guid"
              },
              "bundleApplicationId": {
                "type": "string",
                "description": "The unique ID of the application bundle, or product suite, for a given application.",
                "example": "023cab7b-ca79-465e-8695-765cf4b72931",
                "format": "guid",
                "nullable": true
              },
              "applicationId": {
                "type": "string",
                "description": "The unique ID of the application.",
                "example": "5be51be2-35ff-48f2-9214-00002248b242",
                "format": "guid"
              },
              "firstUsed": {
                "type": "string",
[...]
